@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');:root {--eric-model-font: 1em;}* { font-family: 'Poppins', sans-serif;font-size: var(--eric-model-font);margin: 0;padding: 0;box-sizing: border-box;}.div_imc {width: 100vw;height: 100vh;display: flex;justify-content: center;align-items: center;flex-direction: column;}.form_imc{position: relative;display: flex;align-items: center;justify-content: center;flex-direction: column;width: 45vw;height: 65vh;background-color: #5454;border-radius: 5vh;box-shadow: 0px 0px 10px 4px;padding: 0px 0 20px 0;}#point{position: absolute;width: 35px;height: 35px;right: 5%;top: 5%;background-color: #FEFEFE;border-radius: 100%; transition: ease-in 0.5s;}.div_input {display: flex;justify-content: center;margin: 25px 0 0 0;}.div_input > input {width: 10vw;height: 5vh;border-radius: 5px;}#peso, #altura {width: 15vw;height: 5vh;border-radius: 5px;border-style: none;padding: 0 10px 0 10px;}#peso, #altura:focus {border-color: thistle;}#altura::placeholder{font-size: 14px;}#rr{margin: 0 0 15px 0;}#rr > h3 {margin-bottom: 10px;}#resultado{margin-top: 25px;display: flex;justify-content: center;align-items: center;flex-direction: column;}

#point:hover{
    width: 45px;
    height: 45px;
    background-color: rgba(255, 123, 0, 0.712);
    cursor: pointer;
}
#span_IMC{
    transition: ease-in 0.5s;
}
#span_IMC:hover{
    font-size: 40px;
    color: rgba(255, 123, 0, 0.712);
    cursor: pointer;
}